<!DOCTYPE html>
<html>
    <head>
        <link href="//style.css" rel="stylesheet" type="text/css" />
        
    </head>
    <body>
        <%- include('partials/nav'); %>
        <h1>welcome</h1>
        <p>hello hello hello</p>
    </body>
</html>